<div class="container">
  <%if user_signed_in? && current_user.admin == 2%>
    <blockquote class="blockquote form_new_service">
      <h3 class="text-center text-uppercase"><%=t("services.new_service")%></h3>
      <%= form_tag('/services', method: :post) do %>
      <div class="row">
        <input type="text" required  class="form-control service_name" name="service[name]" placeholder="<%=t("services.service_name")%>">
      </div>
      <div class="row">
        <input type="text" required class="form-control service_cost" name="service[cost]" placeholder="<%=t('services.service_prices')%>">
      </div>
      <div class="row">
        <div class="col-sm-6 text-center">
          <input type="radio" name="service[status]" value="1"> <%=t('services.compulsory')%>
        </div>
        <div class="col-sm-6 text-center">
          <input type="radio" name="service[status]" value="0" checked> <%=t('services.optional')%>
        </div>
      </div>
      <div class="col-sm-12 text-center">
        <input type="submit" value="<%=t('layout.save')%>" class="btn btn-primary">
      </div>
      <% end %>
    </blockquote>
  <%end%>
</div>
<button type="button" class="btn btn-sm btn-success ml-3 button_new_service" title="a new service" name="button"><i class="fa fa-plus-circle"></i></button>
<table class="table table-hover service">
  <thead>
    <tr>
      <th class="text-center"><%=t('layout.order')%></th>
      <th class=""><%=t('services.status')%></th>
      <th class=""><%=t('services.service_used')%></th>
      <th class=""><%=t('services.unit_price')%></th>
      <th class=""></th>
    </tr>
  </thead>
  <tbody>
    <% @services.each_with_index do |service, i|%>
    <tr>
      <td class="text-center"><%=i + 1%></td>
      <td class="">
        <% if service.status == 1%>
          <%=t('services.compulsory')%>
        <% else %>
          <%=t('services.optional')%>
        <% end %>
      </td>
      <td class=""><%=service.name %></td>
      <td class="text-danger "> <%=number_to_currency_br(service.cost)%></td>
      <td class="text-danger ">
        <% if user_signed_in? && current_user.admin == 2%>
          <a href="/services/<%= service.id%>" class="btn btn-danger btn-sm text-white" data-method="delete"  data-confirm=" <%=t('layout.confirm_delete')%>">
            <i class="fa fa-trash"></i>
            <%# <%=t('layout.delete')%>
          </a>
          <a class="btn btn-info btn-sm service_edit text-white" data-service_id="<%=service.id%>">
            <i class="fa fa-edit"></i>
            <%# <%=t('layout.edit')%>
          </a>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="col-sm-3">
  <!-- <input type="text" id="searchuseservice" class="form-control search"> -->
</div>
<table class="table table-hover ">
  <thead>
    <tr>
      <th class="text-center"><%=t('layout.order')%></th>
      <th class="text-center"><%=t('services.use_services')%></th>
      <th class="text-center"><%=t('services.room_master')%></th>
      <th class="position-relative"><input type="text" id="searchuseservice" class="searchuseservice search position-absolute" placeholder="<%=t("layout.search_name", name: "service")%>"></th>
    </tr>
  </thead>
  <tbody id="useservice">
    <% if !@use_services.nil?%>
      <% @use_services.each_with_index do |use_service, i|%>
        <tr>
          <td class="text-center"><%= i +=1 %></td>
          <td class="text-center"><%= getUseService(use_service.service_id)%></td>
          <td class="text-center"><%= use_service.information&.name %></td>
          <td class="text-danger text-center">
            <a href="/use_services/<%= use_service.id%>" class="btn btn-danger btn-sm text-white" data-method="delete"  data-confirm="<%=t('layout.confirm_delete')%>">
              <i class="fa fa-trash"></i>
              <%# <%=t('layout.delete')%>
            </a>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
