<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <a class="navbar-brand brand-logo hovernotbackground" href="<%= root_path%>">
      <img src="/assets/logo.svg" alt="logo" /> </a>
    <a class="navbar-brand brand-logo-mini" href="/">
      <img src="/assets/logo-mini.svg" alt="logo" /> </a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <ul class="navbar-nav">
      <li class="nav-item font-weight-semibold d-none d-lg-block">+84 981 664 050</li>
      <li class="nav-item dropdown language-dropdown">
        <a class="nav-link  hovernotbackground px-2 d-flex align-items-center" id="LanguageDropdown">
          <div class="d-inline-flex mr-0 mr-md-3">
            <div class="flag-icon-holder">
              <% if locale.to_s == 'en'%>
                <%=image_tag ('flags/1x1/us.svg')%>
              <% else %>
                <%=image_tag ('flags/1x1/vn.svg')%>
              <% end %>
            </div>
          </div>
          <span class="profile-text font-weight-medium d-none d-md-block"><%=locale%></span>
        </a>
        <div class="dropdown-menu dropdown-flags dropdown-menu-left navbar-dropdown py-2" >
          <a class="dropdown-item" href="?locale=en">
            <div class="flag-icon-holder">
              <%=image_tag ('flags/1x1/us.svg')%>
            </div>English
          </a>
          <a class="dropdown-item" href="?locale=vn">
            <div class="flag-icon-holder">
              <%=image_tag ('flags/1x1/vn.svg')%>
            </div>Việt Nam
          </a>
        </div>
      </li>
    </ul>

    <% if user_signed_in?%>
    <!-- <div class="row welcome_title">
        <h2 class="welcome text-uppercase text-center"><%=t('layout.welcome')%></h2>
    </div> -->
    <%end %>
    <ul class="navbar-nav ml-auto mr-3 position-relative">
      <% if user_signed_in?%>
        <li class="nav-item">
          <small class="result_voice"></small>
        </li>
        <li class="nav-item dropdown p-1 position-relative">
          <input type="text" class="listening m-2 d-none" placeholder="<%=t("layout.result_mic")%>">
        </li>
        <li class="nav-item dropdown ">
          <button type="button" class="voice btn btn-sm bg-primary text-center button_mic" data-set_mic="0" name="button" title="Điều khiển bằng giọng nói"><i class="fa fa-microphone text-white" aria-hidden="true"></i></button>
        </li>
        <li class="nav-item dropdown ">
          <a class="nav-link count-indicator hovernotbackground notify" title="<%=t('layout.reminders')%>" id="messageDropdown">
            <i class="mdi mdi-bell-outline"></i>
            <span class="count note_notify"></span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link count-indicator hovernotbackground feedback" title="<%=t('layout.feedback')%>" id="notificationDropdown">
            <i class="mdi mdi-comment-multiple-outline"></i>
            <span class="count bg-success report_notify"></span>
          </a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link count-indicator hovernotbackground" title="<%=t('layout.email')%>" id="emailDropdown" href="/send_email">
            <i class="mdi mdi-email-outline"></i>
          </a>
        </li> -->
      <% end %>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>
<div class="show_reminder col-sm-3 float-right rounded position-fixed mb-4 mr-4"></div>
<div class="show_report col-sm-3 float-right rounded position-fixed mb-4 mr-4"></div>
