<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="<%=edit_user_registration_path%>" class="nav-link">
        <div class="profile-image">
          <img class="img-xs rounded-circle" src="/assets/faces/face8.jpg" alt="profile image">
          <div class="dot-indicator bg-success"></div>
        </div>
        <div class="text-wrapper">
          <% if user_signed_in? %>
            <p class="profile-name"><%=current_user.email%></p>
            <p class="designation"><%=current_user.admin == 1?  I18n.t('layout.manager') : "" %></p>
          <% else %>
            <p class="profile-name">User</p>
            <p class="designation">Not login</p>
          <% end %>
        </div>
      </a>
    </li>
    <li class="nav-item nav-category"><%= I18n.t('layout.menu_main') %></li>
    <% if user_signed_in? %>
    <li class="nav-item dashboard">
      <a class="nav-link" href="<%= root_path%>">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title"><%= I18n.t('layout.dashboard') %></span>
      </a>
    </li>
    <li class="nav-item rooms">
      <a class="nav-link" href="<%= houses_path%>">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title"><%= I18n.t('layout.rooms') %></span>
      </a>
    </li>
    <li class="nav-item services">
      <a class="nav-link" data-toggle="collapse" href="<%=services_path%>" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon typcn typcn-coffee"></i>
        <span class="menu-title"><%= I18n.t('layout.services') %></span>
      </a>
    </li>
    <li class="nav-item informations">
      <a class="nav-link" href="<%=users_path %>">
        <i class="menu-icon typcn typcn-shopping-bag"></i>
        <span class="menu-title"><%= I18n.t('layout.informations') %></span>
      </a>
    </li>
    <li class="nav-item accounts">
      <a class="nav-link" href="<%=account_path%>">
        <i class="menu-icon typcn typcn-th-large-outline"></i>
        <span class="menu-title"><%= I18n.t('layout.accounts') %></span>
      </a>
    </li>
    <li class="nav-item reminders">
      <a class="nav-link" href="<%=reminders_path %>">
        <i class="menu-icon typcn typcn-bell"></i>
        <span class="menu-title"><%= I18n.t('layout.reminders') %></span>
      </a>
    </li>
    <li class="nav-item statisticals">
      <a class="nav-link" href="<%=statisticals_path%>">
        <i class="menu-icon typcn typcn-user-outline"></i>
        <span class="menu-title"><%= I18n.t('layout.statistical') %></span>
      </a>
    </li>
    <li class="nav-item rentals">
      <a class="nav-link" data-toggle="collapse" href="<%=paytherents_path %>" aria-expanded="false" aria-controls="auth">
        <i class="menu-icon typcn typcn-document-add"></i>
        <span class="menu-title"><%= I18n.t('layout.room_rental') %></span>
      </a>
    </li>
    <% if current_user.admin == 2%>
    <li class="nav-item apps">
       <a class="nav-link apps" data-toggle="collapse" data-apps="#app" aria-expanded="false" aria-controls="auth">
         <i class="menu-icon typcn typcn-document-add"></i>
         <span class="menu-title"><%= I18n.t('layout.apps') %> </span>
         <i class="menu-arrow"></i>
       </a>
       <div class="collapse" id="app">
         <ul class="nav flex-column sub-menu">
           <li class="nav-item"><a class="nav-link hovernotbackground" href="<%=apps_path%>"><%=t('layout.apps_sliders')%></a></li>
           <li class="nav-item"><a class="nav-link hovernotbackground" href="<%=regulations_path%>"><%=t('layout.apps_regulations')%></a></li>
         </ul>
       </div>
     </li>
     <% end %>
    <li class="nav-item contact">
      <a class="nav-link" data-toggle="collapse" href="<%=send_email_path%>" aria-expanded="false" aria-controls="auth">
        <i class="menu-icon typcn typcn-document-add"></i>
        <span class="menu-title"><%= I18n.t('layout.contact') %></span>
      </a>
    </li>
    <li class="nav-item settings">
      <a class="nav-link settings" data-toggle="collapse" data-setting="#setting" aria-expanded="false" aria-controls="auth">
        <i class="menu-icon typcn typcn-document-add"></i>
        <span class="menu-title"><%= I18n.t('layout.setting') %> </span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="setting">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link hovernotbackground" href="<%=edit_user_registration_path%>"><%=t('layout.changepassword')%></a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= destroy_user_session_path %>" data-method="delete">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title"><%= I18n.t('layout.logout') %></span>
      </a>
    </li>
    <% else %>
    <li class="nav-item">
      <a class="nav-link" href="<%= new_user_session_path %>">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title"><%= I18n.t('layout.login') %></span>
      </a>
    </li>
    <% end %>
  </ul>
</nav>
