<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="/" class="nav-link">
        <div class="profile-image">
          <img class="img-xs rounded-circle" src="/assets/faces/face8.jpg" alt="profile image">
          <div class="dot-indicator bg-success"></div>
        </div>
        <div class="text-wrapper">
          <p class="profile-name">Allen Moreno</p>
          <p class="designation">Premium user</p>
        </div>
      </a>
    </li>
    <li class="nav-item nav-category">Main Menu</li>
    <% if user_signed_in? %>
    <li class="nav-item">
      <a class="nav-link" href="<%= root_path%>">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= houses_path%>">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">Phòng</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="<%=services_path%>" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon typcn typcn-coffee"></i>
        <span class="menu-title">Dịch vụ</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%=users_path %>">
        <i class="menu-icon typcn typcn-shopping-bag"></i>
        <span class="menu-title">Thông tin khách thuê</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/account">
        <i class="menu-icon typcn typcn-th-large-outline"></i>
        <span class="menu-title">Quản lý tài khoản</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%=reminders_path %>">
        <i class="menu-icon typcn typcn-bell"></i>
        <span class="menu-title">Lịch nhắc nhở</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%=statisticals_path%>">
        <i class="menu-icon typcn typcn-user-outline"></i>
        <span class="menu-title">Thống kê</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="" aria-expanded="false" aria-controls="auth">
        <i class="menu-icon typcn typcn-document-add"></i>
        <span class="menu-title">User Pages</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= destroy_user_session_path %>" data-method="delete">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title"><%= I18n.t('layout.logout') %></span>
      </a>
    </li>
    <% else %>
    <li class="nav-item">
      <a class="nav-link" href="<%= new_user_session_path %>">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title"><%= I18n.t('layout.login') %></span>
      </a>
    </li>
    <% end %>
  </ul>
</nav>
