<div class="col-12 grid-margin">
  <div class="card">
    <%= form_tag('/houses', method: :post, id: "changePage") do %>
    <div class="card-body">
      <%= render "shared/nextback", local: {title: @title = "Thêm nhà mới"}%>
      <hr>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Nhà *</label>
              <div class="col-sm-9">
                <input type="text" class="form-control name" name="name" required />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Tỉnh/ Thành phố  *</label>
              <div class="col-sm-9">
                <%= select("", "city_id", @cities.collect {|p| [ p.name, p.id ] }, { include_blank: true }, class: "form-control city", required: "required")%>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Quận/ Huyện *</label>
              <div class="col-sm-9">
                  <select class="form-control district" name="district_id" required>
                    <option value="">Chon</option>
                    <% @districts.each do |district|%>
                      <option value="<%=district.id%>" data-cityid="<%=district.city_id%>"><%= district.name%></option>
                    <% end %>
                  </select>
                  <%# <%= select("", "district_id", @districts.collect {|u| [ u.name, u.city_id] }, { include_blank: true }, class: "form-control district", required: "required") %>

              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Phường/ Xã *</label>
              <div class="col-sm-9">
                <select class="form-control ward" name= "ward_id" required>
                  <option value="">Chon</option>
                </select>
                <%# <%= select("", "ward_id", @wards.collect {|t| [ t.name, t.district_id]}, { include_blank: true }, class: "form-control ward", required: "required")%>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Số *</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="number" required />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Đường *</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="road" required />
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
