<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @information.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @information.sex %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @information.birth %>
</p>

<p>
  <strong>Indentifycard:</strong>
  <%= @information.indentifycard %>
</p>

<p>
  <strong>Daterange:</strong>
  <%= @information.daterange %>
</p>

<p>
  <strong>Placerange:</strong>
  <%= @information.placerange %>
</p>

<p>
  <strong>Phone1:</strong>
  <%= @information.phone1 %>
</p>

<p>
  <strong>Phone2:</strong>
  <%= @information.phone2 %>
</p>

<p>
  <strong>Permanent:</strong>
  <%= @information.permanent %>
</p>

<p>
  <strong>Start:</strong>
  <%= @information.start %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @information.deposit %>
</p>

<p>
  <strong>Note:</strong>
  <%= @information.note %>
</p>

<%= link_to 'Edit', edit_information_path(@information) %> |
<%= link_to 'Back', information_index_path %>
