<div class="row w-100">
  <div class="col-sm-3">
    <input type="text" id="search" class="form-control search">
  </div>
  <div class="col-sm-3">
    <button type="button" class="btn btn-primary" name="button">
      <i class="fa fa-search"></i>
      <%=t('layout.search')%>
    </button>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th class="text-center"><%=t('layout.order')%></th>
      <th class="text-center"><%=t('house.house_name')%>/<%=t('room.room_name')%></th>
      <th class="text-center"><%=t('users.fullname')%></th>
      <th class="text-center"><%=t('users.sex')%></th>
      <th class="text-center"><%=t('users.indentifycard')%></th>
      <th class="text-center"><%=t('users.phone1')%></th>
      <th class="text-center"><%=t('users.phone2')%></th>
      <th class="text-center"><%=t('users.email')%></th>
      <th class="text-center"><%=t('users.start')%></th>
    </tr>
  </thead>
  <tbody id="user">
    <% if !@users.nil?%>
      <% @users.each_with_index do |user, i|%>
      <tr class="info_cus" data-id="<%= user.id%>">
        <td class="text-center"><%=i + 1%></td>
        <td class="text-center"><%= getHouseRoom(user.id)%></td>
        <td class="text-center"><%= user.name%></td>
        <td class="text-center"><%= user.sex == false ? t('layot.male') : t('layout.female')%></td>
        <td class="text-center"><%= user.indentifycard%></td>
        <td class="text-center"><%= user.phone1%></td>
        <td class="text-center"><%= user.phone2%></td>
        <td class="text-center"><%= user.email%></td>
        <td class="text-center"><%= user.start%></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= will_paginate @users, renderer: BootstrapPagination::Rails%>
