<h1>BIÊN LAI THANH TOÁN TIỀN TRỌ THÁNG <%=@month%></h1>
  <div class="col-sm-3">Họ và tên:<%=@info.name%></div>
  <div class="col-sm-3">CMND:<%=@info.indentifycard%></div>
  <div class="col-sm-3">SĐT 1:<%=@info.phone1%></div>
  <div class="col-sm-3">SĐT 2:<%=@info.phone2%></div>
  <div class="col-sm-3">Tên nhà trọ:<%=@house.name%></div>
  <div class="col-sm-3">Phòng số:<%=@room.name%></div>
  <div class="col-sm-3">Giá phòng:<%=number_to_currency_br(@room.cost)%> VNĐ</div>
  <div class="col-sm-3">Điện sử dụng = số mới - số cũ = <%=@room.newelectric%> - <%=@room.oldelectric%> = <%=number_to_currency_br(use_electric_water(@room.oldelectric, @room.newelectric))%></div>
  <div class="col-sm-3">Nước sử dụng = số mới - số cũ = <%=@room.newwater%> - <%=@room.oldwater%> = <%=number_to_currency_br(use_electric_water(@room.oldwater, @room.newwater))%></div>
  <% if @paytherent.size !=0%>
    <h3 class="col-sm-3 h3">Lưu ý</h3>
    <% @paytherent.each do |p| %>
    <div class="col-sm-3 h4">Tiền trọ tháng <%=p.senddate%> : <%= number_to_currency_br(p.money)%> VNĐ chưa trả</div>
    <% end%>
  <% end%>
<table class="table table-hover text-danger">
  <thead>
    <tr>
      <th class="text-center">STT</th>
      <th class="text-center">Dịch vụ sử dụng</th>
      <th class="text-center">Đơn giá (VNĐ)</th>
      <th class="text-center">Số lượng</th>
      <th class="text-center">Tổng</th>
    </tr>
  </thead>
  <tbody>
    <% array_sum = [] %>
    <% @use_services.service_id.each_with_index do |s, i|%>
      <tr>
        <td class="text-center"><%=i + 1%></td>
        <td class="text-center"><%=getServiceName(@services,s)%></td>
        <td class="text-center"><%=number_to_currency_br(getServiceCost(@services,s))%></td>
        <td class="text-center"><%=@use_services.amount[i]%></td>
        <% if getServiceName(@services,s) == 'Điện'%>
          <td class="text-center"><%=number_to_currency_br(sum_amount_cost(getServiceCost(@services,s), use_electric_water(@room.oldelectric, @room.newelectric)))%></td>
          <% array_sum.push(sum_amount_cost(getServiceCost(@services,s), use_electric_water(@room.oldelectric, @room.newelectric)))%>
        <% elsif getServiceName(@services,s) == 'Nước' %>
          <td class="text-center"><%=number_to_currency_br(sum_amount_cost(getServiceCost(@services,s),use_electric_water(@room.oldwater, @room.newwater)))%></td>
          <% array_sum.push(sum_amount_cost(getServiceCost(@services,s),use_electric_water(@room.oldwater, @room.newwater)))%>
        <% else %>
          <td class="text-center"><%=number_to_currency_br(sum_amount_cost(getServiceCost(@services,s), @use_services.amount[i]))%></td>
          <%array_sum.push(sum_amount_cost(getServiceCost(@services,s), @use_services.amount[i]))%>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="text-danger">
  TỔNG TIỀN = DỊCH VỤ + PHÒNG = <%= number_to_currency_br(array_sum.inject{ |sum,e| sum += e.to_i })%> + <%=number_to_currency_br(@room.cost) %> = <%= number_to_currency_br(array_sum.inject{ |sum,e| sum += e.to_i }.to_i + @room.cost.to_i) %>  VNĐ
</div>
<small class="text-danger">Chú ý: Tiền điện, tiền nước = (Đơn giá)*(Điên/Nước đã sử dụng)</small>
