<h3>Warning: You are 3 days late to pay your rent. Please contact the manager for payment.</h3>
<div class="text-center">Full name: <%=@paytherent.information.name%></div>
<div class="text-center">Phone 1: <%=@paytherent.information.phone1%></div>
<div class="text-center">Phone 2: <%=@paytherent.information.phone2%></div>
<div class="text-center">Email: <%=@paytherent.information.email%></div>
<div class="text-center">Month: <%=@paytherent.senddate%></div>
<div class="text-center">Money: <%=number_to_currency_br(@paytherent.money)%> VND</div>
