<div class="col-sm-12">
  <%= form_tag("/send_to_email", method: :post) do %>
    <blockquote class="blockquote">
      <h1><%=t("send_email.contact")%></h1>
      <hr>
      <div class="row">
        <div class="col-sm-3 text-center"><%=t("send_email.to")%></div>
        <div class="col-sm-9">
          <select name="email[]" data-placeholder="chosen a person or group person..." multiple class="chosen-select form-control">
            <% @infors.each do |inf|%>
              <option value="<%=getEmailInfor(inf.information_id)%>"><%=getNameInfor(inf.information_id)%></option>
            <% end %>
          </select>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3 text-center"><%=t("send_email.title")%></div>
        <div class="col-sm-9">
          <input type="text" name="title" class="form-control" >
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3 text-center"><%=t("send_email.content")%></div>
        <div class="col-sm-9 content">
          <textarea name="content" class="form-control"></textarea>
        </div>
      </div>
      <div class="row mt-4">
        <div class="text-center col-sm-12">
          <button type="submit" name="button" class="btn btn-primary"><i class="mdi mdi-send-outline"></i></button>
        </div>
      </div>
    </blockquote>
  <% end %>
</div>
