<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-6">
      <%= pie_chart @rooms.group(:mark).count, donut: true%>
      <div class="text-center"><%=t('Statisticals.room_chart')%></div>
      <div class="notesection">
        <div class="">
          <small>0: <%=t('Statisticals.empty_room')%></small>
        </div>
        <div class="">
          <small>1: <%=t('Statisticals.customer_room')%></small>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <%= pie_chart @users.group(:admin).count, donut: true%>
      <div>
        <div class="text-center"><%=t('Statisticals.user_chart')%></div>
        <div class="notesection">
          <div class="">
            <small>0: <%=t('Statisticals.customer')%></small>
          </div>
          <div class="">
            <small>1: <%=t('Statisticals.manager')%></small><br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <%= form_tag(statisticals_path, method: :get, id: "changeYear") do %>
        <%if params[:status] == '0' %>
          <input type="radio" name="status" value="0" checked> <%=t('Statisticals.unpaid')%>
          <input type="radio" name="status" value="1"> <%=t('Statisticals.paid')%>
        <%else%>
          <input type="radio" name="status" value="0"> <%=t('Statisticals.unpaid')%>
          <input type="radio" name="status" value="1" checked> <%=t('Statisticals.paid')%>
        <%end%>
        <%=date_select( "date","year", {order: [:year], include_blank:"Select year"}, onchange: "$('#changeYear').submit();", class: "form-control")%>
      <% end %>
    </div>
    <div class="col-sm-12">
      <% if !@paytherent_pays.nil? %>
        <%= bar_chart @paytherent_pays.group(:senddate).sum(:money), thousands: "." %>
        <div class="text-center">
          <%if params[:status] == '0' %>
            <h4><%=t('Statisticals.unpaidchart')%> <%=@year%></h4>
          <%else%>
            <h4><%=t('Statisticals.paidchart')%> <%=@year%></h4>
          <%end%>
          <%=t('Statisticals.countmoneypermonth')%>(milion/month)
        </div>
      <% end %>
    </div>
  </div>
</div>
