<div class="container">
  <h1 class="text-center text-uppercase"><%=t('home.led_title')%></h1>
  <div class="col-sm-12 text-right">
    <button type="button" class="check_guild btn btn-sm bg-primary text-white"name="button"><%=t('home.guild_voice')%></button>
  </div>
  <div class="guid_voice">
    <div class=""><%=t('home.read')%>: <span class="text-danger"><%=t('home.code_room')%> + <%=t('home.status')%> (1: <%=t('home.on')%>, 0: <%=t('home.off')%>)</span></div>
    <div class="">
      <%=t('home.ex')%> Phong1: 110
    </div>
    <div class="">
      <ul>
        <li>
          <span class="text-danger">one one zero one </span> <%=t('home.turnon')%>
        </li>
        <li>
          <span class="text-danger">one one zero zero </span> <%=t('home.turnoff')%>
        </li>
        <li><%= t('home.result')%><img src="/assets/guild_voice.png"> </li>
      </ul>
    </div>
    <div class="voice_control_led"></div>
  </div>
  <blockquote class="blockquote mt-3">
    <div class="button_house_with_room"></div>
  </blockquote>
  <!-- <div class="col-sm-6"> -->
  <div class="">
    <input type="text" id="searchled" placeholder="<%=t('layout.search')%>" class="form-control search">
  </div>
  <!-- <div class="col-sm-12"> -->
  <div class="">
    <div class="row">
      <%=render 'homes/shared/select_group', :locals => { :houses => @houses }%>
    </div>
  </div>
  <div class="firebase_led"></div>
</div>
