<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <hr>
    <%= form_tag("/new_information_customer/#{params[:house_id]}/#{params[:room_id]}?information_id=#{params[:information_id]}", method: :post, id: "inf_1") do %>
      <%= render "shared/nextback", local: {title: @title = t('house.show.addtenantroom')}%>
      <%= render "shared/addcustomerservices", local: {title: @title = t('house.show.personalinformation')}%>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%=t('house.show.personalinformation')%></h4>
          <button class="btn btn-primary mb-4 btn-sm getOldCustomer currsor" data-house_id="<%=params[:house_id]%>" data-room_id="<%=params[:room_id]%>" type="button" name="button"><%=t('house.show.oldperson')%></button>
          <% @room.each do |r|%>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.firstname')%> *</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" required name="firstname" value="<%=check_Info_first_name_nil(@infor)%>"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.lastname')%> *</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control"  required name="lastname" value="<%=check_Info_last_name_nil(@infor)%>" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.sex')%> *</label>
                <div class="col-sm-9">
                  <select class="form-control"  required name="sex">
                    <option value="0" <%=check_Info_sex_nil(@infor, false)%> ><%=t('layout.male')%></option>
                    <option value="1" <%=check_Info_sex_nil(@infor, true)%> ><%=t('layout.female')%></option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.birth')%> *</label>
                <div class="col-sm-9">
                  <input type="date" class="form-control" required name="birth" value="<%=check_Info_birth_nil(@infor)%>" placeholder="dd/mm/yyyy" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.indentifycard')%> *</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control"  required name="indentifycard" value="<%=check_Info_indentifycard_nil(@infor)%>"  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.daterange')%> *</label>
                  <div class="col-sm-9">
                    <input type="date" class="form-control"  required name="daterange" placeholder="dd/mm/yyyy" value="<%=check_Info_daterange_nil(@infor)%>" />
                  </div>
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.phone1')%></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="phone1" value="<%=check_Info_phone1_nil(@infor)%>"  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.placerange')%> *</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control"  required name="placerange" value="<%=check_Info_placerange_nil(@infor)%>"  placeholder="CA TP Đà Nẵng" />
                  </div>
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.phone2')%></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control"  name="phone2" value="<%=check_Info_phone2_nil(@infor)%>" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.email')%> *</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control"  required name="email" placeholder="nguyenvananh@gmail.com" value="<%=check_Info_email_nil(@infor)%>"  />
                  </div>
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.permanent')%> *</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control"  required name="permanent" value="<%=check_Info_permanent_nil(@infor)%>" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.temporaryaddress')%></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" disabled value="<%=get_field_address(@house)%>"/>
                  </div>
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.room_name')%> *</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" disabled value="<%= get_fild_name_room(@room)%>" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.money_room')%> *</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" disabled value = "<%= number_to_currency_br(get_fild_cost_room(@room))%> VNĐ" />
                  </div>
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.start')%> *</label>
                <div class="col-sm-9">
                  <input type="date" class="form-control"  required name="start" value="<%= get_current_date()%>" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.deposit')%></label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" name="deposit"  value="<%=check_Info_deposit_nil(@infor)%>" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label"><%=t('house.show.note')%></label>
                  <div class="col-sm-9 ml-3">
                    <textarea  rows="2" class="form-control"  name="note"><%=check_Info_note_nil(@infor)%> </textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
<!-- // services -->
    <div id="serv_2" class="d-none">
      <%= form_tag("/information_service", method: :post) do %>
        <%= render "shared/nextback", local: {title: @title = "Dịch vụ nhà trọ"}%>
        <%= render "shared/addcustomerservices", local: {title: @title = "Thêm khách"}%>
        <table class="table table-hover service">

          <thead>
            <tr>
              <th class="text-center">STT</th>
              <th class="text-center">Chọn</th>
              <th class="text-center">Dịch vụ sử dụng</th>
              <th class="text-center">Đơn giá (VNĐ)</th>
              <th class="text-center">Số lượng</th>
            </tr>
          </thead>
          <tbody>
            <% @services.each_with_index do |service, i|%>
            <tr>
              <td class="text-center"><%=i + 1%></td>
              <td class="text-center">
                <% if service.status == 1%>
                  <input type="checkbox" checked name="checkservice" value="<%=service.id%>" class="form-check-input must" data-status="must">
                <% else %>
                  <input type="checkbox" name="checkservice" value="<%=service.id%>" class="form-check-input">
                <% end %>
              </td>
              <td class="text-center"><%=service.name %></td>
              <td class="text-danger text-center"> <%=service.cost%></td>
              <td class="text-center">
                <input type="number" name="service" min="1" value="1" class="form-control text-center"/>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <!-- members  -->
    <div id="mem_3" class="d-none">
      <%= form_tag("/information_service", method: :post) do %>
        <%= render "shared/nextback", local: {title: @title = "Thêm thành viên"}%>
        <%= render "shared/addcustomerservices", local: {title: @title = "Thêm khách"}%>
        <table class="table table-hover service">

          <thead>
            <tr>
              <th class="text-center">Họ và tên</th>
              <th class="text-center">Ngày sinh</th>
              <th class="text-center">Giới tính</th>
              <th class="text-center">CMND</th>
              <th class="text-center">Địa chỉ</th>
              <th class="text-center">Điện thoại</th>
              <th class="text-center"></th>
            </tr>
          </thead>
          <tbody class="members"></tbody>
        </table>
      <% end %>
      <button name="button" class="btn btn-success pull-right addmember">
        <i class="fa fa-plus-circle"></i>
      </button>
    </div>
    </div>

  </div>
</div>
