<div class="col-12 grid-margin">
  <div class="card">
    <%= form_tag("/rooms/#{@room.id}", method: :put, id: "changePage") do %>
    <div class="card-body">
      <%= render "shared/nextback", local: {title: @title = t('house.edit_room')}%>
      <hr>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label"><%=t('room.number_room')%>*</label>
              <div class="col-sm-7">
                <input type="number" class="form-control name" name="room[name]" value="<%=@room.name%>" required />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label"><%=t('hose.house_name')%> *</label>
              <div class="col-sm-7">
                <%= select_tag "room[house_id]", options_for_select(@houses.collect{ |u| [u.name, u.id]}, :selected=>@room.house_id), {class: "form-control", required: "required", include_blank: true } %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label"><%=t('room.unit_price')%> (VND)*</label>
              <div class="col-sm-7">
                <input type="text" class="form-control name" name="room[cost]" value ="<%=number_to_currency_br(@room.cost)%>" required />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label"><%=t('room.maximum')%>*</label>
              <div class="col-sm-7">
                <input type="text" class="form-control room_max" name="room[amount]" min="1" max="5" value ="<%=@room.amount%>" required />
                <div class="notice_result"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label"><%=t('room.width')%>(cm)*</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" name="room[width]" value ="<%=@room.width%>" min="100" required />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label"><%=t('room.length')%>(cm)*</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" name="room[length]" value ="<%=@room.length%>" min="100" required />
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row mt-3">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label"><%=t('room.description')%></label>
              <div class="col-sm-7">
                <textarea class="form-control" name="room[description]"><%=@room.description%></textarea>
              </div>
            </div>
          </div>
      	</div> -->
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label"><%=t('room.description')%></label>
              <div class="col-sm-8 ml-3">
                <textarea  rows="2" class="form-control"  name="room[description]"><%=@room.description%></textarea>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
