<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <hr>
    <%= form_tag("/update_information_customer/#{params[:house_id]}/#{params[:room_id]}/#{params[:information_id]}", method: :put, id: "inf_1") do %>
      <%= render "shared/nextback", local: {title: @title = t('house.show.addtenantroom')}%>
      <%= render "shared/addcustomerservices", local: {title: @title = t('house.show.personalinformation')}%>
      <div class="card">
        <div class="card-body">
          <div class="row mb-4">
            <div class="col-sm-6">
              <h4 class="card-title"><%=t('house.show.personalinformation')%></h4>
            </div>
            <div class="col-sm-6 text-right">
              <button type="button" name="button" class="costRoom btn-sm" data-information_id="<%=params[:information_id]%>" data-room_id="<%=params[:room_id]%>" data-house_id="<%=params[:house_id]%>""><i class="fa fa-money bg-success"></i> <span><%=t('house.show.depositmoney')%></span></button>
            </div>
          </div>
            <!-- <p class="card-description">Thông tin cá nhân </p> -->
          <% @information.each do |r|%>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.firstname')%> *</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" value="<%= get_info_first_name(r.name)%>"  required name="firstname" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.lastname')%> *</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" value="<%= get_inf_last_name( r.name)%>"  required name="lastname" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.sex')%> *</label>
                <div class="col-sm-9">
                  <select class="form-control"  required name="sex">
                    <option value="0" <%= r.sex == false ? "selected" : ""%> ><%=t('layout.male')%></option>
                    <option value="1" <%= r.sex == true ? "selected" : ""%>><%=t('layout.female')%></option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.birth')%> *</label>
                <div class="col-sm-9">
                  <input type="date" class="form-control" required name="birth" value="<%= r.birth %>" placeholder="dd/mm/yyyy" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.indentifycard')%> *</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control"  required  value="<%= r.indentifycard %>" name="indentifycard" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.placerange')%>*</label>
                  <div class="col-sm-9">
                    <input type="date" class="form-control"  required value="<%= r.daterange %>" name="daterange" placeholder="dd/mm/yyyy" />
                  </div>
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.phone1')%></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" value="<%= r.phone1 %>" name="phone1" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.placerange')%> *</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control"  required value="<%= r.placerange %>" name="placerange" placeholder="CA TP Đà Nẵng" />
                  </div>
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.phone2')%></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" value="<%= r.phone2 %>" name="phone2" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row currsor changed_email" data-information_id="<%=params[:information_id]%>" title="change email click here">
                <label class="col-sm-3 col-form-label"><%=t('house.show.email')%> *</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" disabled required value="<%= r.email %>" name="email" placeholder="nguyenvananh@gmail.com" />
                  </div>
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.permanent')%> *</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control"  required value="<%= r.permanent %>" name="permanent"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.temporaryaddress')%></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" disabled value="<%=get_field_address(@house)%>"/>
                  </div>
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.room_name')%> *</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" disabled value="<%= get_fild_name_room(@room)%>" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.money_room')%> *</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" disabled value = "<%= number_to_currency_br(get_fild_cost_room(@room))%> VNĐ" />
                  </div>
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.start')%> *</label>
                <div class="col-sm-9">
                  <input type="date" class="form-control"  required name="start"  value="<%= r.start.present? ? r.start : get_current_date()%>" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%=t('house.show.deposit')%></label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" value="<%= r.deposit%>" name="deposit" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label"><%=t('house.show.note')%></label>
                  <div class="col-sm-9 ml-3">
                    <textarea  rows="2" class="form-control"  name="note"> <%=r.note%></textarea>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      <% end %>
<!-- // services -->
    <div id="serv_2" class="d-none">
      <%= form_tag("/use_service/#{params[:house_id]}/#{params[:room_id]}/#{params[:information_id]}", method: :post) do %>
        <%= render "shared/nextback", local: {title: @title = "Dịch vụ nhà trọ"}%>
        <%= render "shared/addcustomerservices", local: {title: @title = "Thêm khách"}%>
        <table class="table table-hover service">

          <thead>
            <tr>
              <th class="text-center"><%=t('layout.order')%></th>
              <th class="text-center"><%=t('house.show.choose')%></th>
              <th class="text-center"><%=t('house.show.serviceused')%></th>
              <th class="text-center"><%=t('house.show.cost')%></th>
              <th class="text-center"><%=t('house.show.quantum')%></th>
            </tr>
          </thead>
          <tbody>
            <% if @check_use_service.nil?%>
              <% @services.each_with_index do |service, i|%>
              <tr>
                <td class="text-center"><%=i + 1%></td>
                <td class="text-center">
                  <% if service.status == 1%>
                    <input type="checkbox" checked value="<%=service.id%>" class="form-check-input must" data-status="must">
                  <% else %>
                    <input type="checkbox" value="<%=service.id%>" class="form-check-input">
                  <% end %>
                </td>
                <td class="text-center"><%=service.name %></td>
                <td class="text-danger text-center"> <%=service.cost%></td>
                <td class="text-center">
                  <input type="number" name="service_id[]" min="1" value="<%=service.id%>" class="form-control text-center d-none"/>
                  <input type="number" name="amount[]" min="1" value="1" class="form-control text-center"/>
                </td>
              </tr>
              <% end %>
            <% else %>
              <%@use_services.each do |service|%>
                  <% service.service_id.each_with_index do |s, i|%>
                    <tr>
                      <td class="text-center"><%=i + 1%></td>
                      <td class="text-center">
                        <input type="checkbox" checked class="form-check-input must" data-status="must">
                      </td>
                      <td class="text-center"><%=getServiceName(@services,s)%></td>
                      <td class="text-center"><%=getServiceCost(@services,s)%></td>
                      <td class="text-center">
                        <input type="number" name="service_id[]" min="1" value="<%=s%>" class="form-control text-center d-none"/>
                        <input type="number" name="amount[]" min="1" value="<%=service.amount[i]%>" class="form-control text-center"/>
                      </td>
                    </tr>
                  <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% end %>
      </div>
      <!-- member -->
      <div id="mem_3" class="d-none">
        <%= form_tag("/addmembers/#{params[:house_id]}/#{params[:room_id]}/#{params[:information_id]}", method: :post) do %>
          <%= render "shared/nextback", local: {title: @title = "Thêm thành viên"}%>
          <%= render "shared/addcustomerservices", local: {title: @title = "Thêm khách"}%>
          <table class="table table-hover service">

            <thead>
              <tr>
                <th class="text-center"><%=t('house.show.fullname')%></th>
                <th class="text-center"><%=t('house.show.birth')%></th>
                <th class="text-center"><%=t('house.show.sex')%></th>
                <th class="text-center"><%=t('house.show.indentifycard')%></th>
                <th class="text-center"><%=t('house.show.address')%></th>
                <th class="text-center"><%=t('house.show.phone')%></th>
                <th class="text-center"></th>
              </tr>
            </thead>
            <tbody class="members">
              <% if !@member.nil? %>
                <%for i in 0...@member.name.size%>
                <tr class="RowPersonList_<%=i%>">
                  <td class="text-center">
                    <input type="text" name="member[name][]" class="form-control" value="<%=@member.name[i]%>">
                  </td>
                  <td class="text-center">
                    <input type="date" name="member[birth][]" class="form-control" value="<%=@member.birth[i]%>">
                  </td>
                  <td class="text-center">
                    <select class="form-control"  required name="member[sex][]">
                      <option value="0" <%=@member.sex[i] == 0 ? 'selected' : ''%>><%=t('layout.male')%></option>
                      <option value="1" <%=@member.sex[i] == 1 ? 'selected' : ''%>><%=t('layout.female')%></option>
                    </select>

                  </td>
                  <td class="text-center">
                    <input type="text" name="member[indentifycard][]" class="form-control text-center" value="<%=@member.indentifycard[i]%>"/>
                  </td>
                  <td class="text-center">
                    <input type="text" name="member[address][]" required class="form-control text-center" value="<%=@member.address[i]%>"/>
                  </td>
                  <td class="text-center">
                    <input type="text" name="member[phone][]" class="form-control text-center" value="<%=@member.phone[i]%>"/>
                  </td>
                  <td class="text-center">
                    <a class="btn btn-danger text-white removepersonList" data-rowremove="<%=i%>" name="removefield">
                      <i class="fa fa-minus-circle"></i>
                    </a>
                  </td>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        <% end %>
        <button name="button" class="btn btn-success pull-right addmember">
          <i class="fa fa-plus-circle"></i>
        </button>
      </div>
      <div id="indexser_4" class="d-none">
        <%= form_tag("/indexservice/#{params[:house_id]}/#{params[:room_id]}/#{params[:information_id]}", method: :post) do %>
          <%= render "shared/nextback", local: {title: @title = "Chỉ số dịch vụ"}%>
          <%= render "shared/addcustomerservices", local: {title: @title = "Thêm khách"}%>
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="text-center"><%=t('house.show.services_index')%></th>
                <th class="text-center"><%=t('house.show.oldvalue')%></th>
                <th class="text-center"><%=t('house.show.newvalue')%></th>
              </tr>
            </thead>
            <tbody class="indexser">
              <% @room.each do |room|%>
                <tr>
                  <td class="text-center"><%=t('house.show.electricity')%></td>
                  <td class="text-center"><input type="number" name="oldelectric" value="<%=room.oldelectric%>"></td>
                  <td class="text-center"><input type="number" name="newelectric" value="<%=room.newelectric%>"></td>
                </tr>
                <tr>
                  <td class="text-center"><%=t('house.show.water')%></td>
                  <td class="text-center"><input type="number" name="oldwater" value="<%=room.oldwater%>"></td>
                  <td class="text-center"><input type="number" name="newwater" value="<%=room.newwater%>"></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
