<div class="col-sm-12">
  <%= form_tag("/reports/1", method: :put, class: "form_reports") do %>
    <blockquote class="blockquote">
      <h1><%= t("reports.feedback")%></h1>
      <hr>
      <div class="row">
        <div class="col-sm-3 text-center"><%= t("reports.title")%></div>
        <div class="col-sm-9">
          <input type="text" name="title" class="form-control report_title"   disabled>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3 text-center"><%= t("reports.content")%></div>
        <div class="col-sm-9 content">
          <textarea name="content"  disabled class="form-control report_content"></textarea>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3 text-center"><%= t("reports.rep_content")%></div>
        <div class="col-sm-9 content">
          <textarea name="rep_content" class="form-control report_rep_content"></textarea>
        </div>
      </div>
      <div class="row mt-4">
        <div class="text-center col-sm-12">
          <button type="submit" name="button" class="btn btn-primary button_rep_report" disabled><i class="mdi mdi-send-outline"></i></button>
        </div>
      </div>
    </blockquote>
  <% end %>
</div>
<table class="table table-hover report">
  <thead>
    <tr>
      <th class="text-center"><%=t("layout.order")%></th>
      <th class="text-center"><%=t("reports.title")%></th>
      <th class="text-center"><%=t("reports.user")%></th>
      <th class="text-center"><%=t("reports.created_at")%></th>
      <th class="text-center"><%=t("reports.status")%></th>
    </tr>
  </thead>
  <tbody>
    <%@reports.each_with_index do |report, i|%>
      <tr class="rep_report cursor text-white" data-report_id="<%=report.id%>" >
        <td class="text-center"><%= i +=1%></td>
        <td class="text-center"><%= report.title%></td>
        <td class="text-center"><%= report.information&.name%></td>
        <td class="text-center"><%= time_ago_in_words(report.created_at)%></td>
        <td class="text-center">
          <select class="report_status col-sm-6 text-center" name="status" data-report_id="<%=report.id%>">
            <option><%=t('reports.select')%></option>
            <option value="0" <%=report.mark == 0 ? "selected" : "" %> ><%=t('reports.level0')%></option>
            <option value="1" <%=report.mark == 1 ? "selected" : "" %> ><%=t('reports.level1')%></option>
            <option value="2" <%=report.mark == 2 ? "selected" : "" %> ><%=t('reports.level2')%></option>
            <option value="3" <%=report.mark == 3 ? "selected" : "" %> ><%=t('reports.level3')%></option>
          </select>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
