<div class="row w-100">
  <div class="col-sm-3">
    <input type="text" id="search_paytherent" class="form-control search">
  </div>
  <div class="col-sm-3">
    <button type="button" class="btn btn-primary" name="button">
      <i class="fa fa-search"></i>
      Tìm kiếm
    </button>
  </div>
</div>
<table class="table table-hover service">

  <thead>
    <tr>
      <th class="text-center">STT</th>
      <th class="text-center">Tên chủ phòng</th>
      <th class="text-center">Tháng</th>
      <th class="text-center">Tiền (VND)</th>
      <th class="text-center">Ngày đóng</th>
      <th class="text-center">Thanh toán</th>
      <th class="text-center"></th>
    </tr>
  </thead>
  <tbody id="paytherent">
    <% @paytherents.each_with_index do |pay, i|%>
      <tr>
          <td class="text-center"><%=i+1%></td>
          <td class="text-center"><%=pay.information&.name%></td>
          <td class="text-center"><%=pay.senddate%></td>
          <td class="text-center"><%=number_to_currency_br(pay.money)%></td>
          <td class="text-center"><%=pay.receivedate%></td>
          <td class="text-center"><%=pay.status == 0 ? "Chưa" : "Đã"%></td>
          <td class="text-center"><button type="button" class="btn-sm checkpaytherent" <%=pay.status == 1 ? "disabled" : ""%> data-paytherent_id= "<%=pay.information_id%>" title="Đóng tiền trọ tại đây" name="button" data-senddate="<%=pay.senddate%>"><i class="mdi mdi-send-outline"></i></button></td>
      </tr>
    <% end %>
  </tbody>
</table>
