<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Webser" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Webser" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag '/assets/bootstrap.min', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag '/assets/jquery-confirm.min', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag '/assets/jquery-confirm.min', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- <header class="fixed-top"> -->
    <header class="header">
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
