<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Webser" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Webser" %>">
    <%= csrf_meta_tags %>
    <link rel="icon" href="<%= asset_url('iconweb')%>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag '/assets/jquery-confirm.min', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag '/assets/style', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag '/assets/shared/style', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag '/assets/bootstrap.min', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag '/assets/jquery-confirm.min', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag '/assets/off-canvas', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag '/assets/multiselect', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag '/assets/popper.min', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag '/assets/pagination', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag '/assets/pagination.min', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag '/assets/bootstrap.min', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag '/assets/pagination', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag '/assets/multiselect', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag '/assets/ionicons', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag '/assets/typicons', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag '/assets/font-awesome', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag '/assets/font-awesome.min', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%# <%= stylesheet_link_tag '/assets/flag-icon.min', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%# <%= stylesheet_link_tag '/assets/flag-icon', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css', media: 'all', 'data-turbolinks-track' => 'reload' %>

  </head>
  <body>
    <!-- <header class="fixed-top"> -->
    <%# <%= render 'layouts/navigation' %>
    <header class="header">
      <div class="container-scroller">
        <%= render 'layouts/shared/menu' %>
      </div>
    </header>
    <div class="mainbody page-body-wrapper ">
      <%= render 'layouts/shared/navbar' %>
      <div class="main-panel">
        <div class="content-wrapper">
          <%= render 'layouts/messages' %>
          <!-- <div class="row page-title-header"> -->
          <div class="col-md-12 grid-margin">
            <%= render 'layouts/shared/submenu' if user_signed_in? %>
            <div class="row col-md-12">
              <%= yield %>
              <%= include_gon %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <%= render 'layouts/shared/footer' %>
    </footer>
  </body>
</html>
