<table class="table table-hover">
  <thead>
    <tr>
      <th class="text-center text-uppercase" colspan="6"><%=t('members.room_master')%>: <span class="text-danger text-uppercase ont-weight-bold"><%=@info.name%></span></th>
    </tr>
    <tr>
      <th class="text-center"><%=t('members.fullname')%></th>
      <th class="text-center"><%=t('members.birth')%></th>
      <th class="text-center"><%=t('members.sex')%></th>
      <th class="text-center"><%=t('members.indentify')%></th>
      <th class="text-center"><%=t('members.address')%></th>
      <th class="text-center"><%=t('members.phone')%></th>
    </tr>
  </thead>
  <tbody class="members">
    <% if !@member.nil? %>
      <%for i in 0...@member.name.size%>
      <tr class="RowPersonList_<%=i%>">
        <td class="text-center">
          <%=@member.name[i]%>
        </td>
        <td class="text-center">
        <%=@member.birth[i]%>
        </td>
        <td class="text-center">
           <%=@member.sex[i] == 0 ? t('layout.male') : t('layout.female')%>
        </td>
        <td class="text-center">
        <%=@member.indentifycard[i]%>
        </td>
        <td class="text-center">
        <%=@member.address[i]%>
        </td>
        <td class="text-center">
          <%=@member.phone[i]%>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
